@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-1: #F5F3EF;
  --bg-2: #E4E8EE;
  --bg-surface: #FFFFFF;
  --color-accent-1: #1A4742;
  --color-accent-2: #194641;
  --bg-header: #F6F4F1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-1);
  color: var(--color-accent-1);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "cormorant", serif;
}
p, span {
  font-family: montserrat, serif;
}
